.*
!.git*
*.swp
*.phar
*.lock
*.sql
*.txt

storage/admin
storage/**/*
!storage/**/.git*

bootstrap/cache/*

public/*
!public/assets
!public/index.php

vendor/*
!vendor/.*
!vendor/laravel/framework/src/Illuminate/Cache/RedisStore.php
